.container {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.charts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.sunburst {
    align-content: center;
}

.create_button {
    height: 30px;
    width: 200px;
    background-color: #4b8ca0;
    color: white;
}

.title {
    color: darkblue;
    text-align: center;
}